<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nimitsajal.studentconnectapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <meta-data
            android:name="com.google.geo.API_KEY"
            android:value="AIzaSyAgSCTZvb3WJy0hc8PryEAxgihFd_JN92k"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".collegeProfilePage"></activity>
        <activity android:name=".others_profile_page" />
        <activity android:name=".upload_post" />
        <activity android:name=".chat" />
        <activity android:name=".newChat" />
        <activity android:name=".currentChats" />
        <activity android:name=".profilePage" />
        <activity android:name=".mainFeed" />
        <activity android:name=".collegeDetailsDatabase" />
        <activity android:name=".Sign_up" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="com.google.geo.API_KEY"
                android:value="AIzaSyAgSCTZvb3WJy0hc8PryEAxgihFd_JN92k"/>
        </activity>
    </application>

</manifest>